@import url(reset.css);
@import url(fonts.css);

/* &%&%&%&%&%&%&%&&%&&%&%&%&%&%&&%&%&%&%&

    Variables and global styles

%&%&%&&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

:root{
    --font-primary: 'Poppins-Regular', sans-serif;
    --font-bold: 'Poppins-Bold', sans-serif;
    --font-black: 'Poppins-Black', sans-serif;
    --color-primary: #0ABEAD;
    --color-secondary: #F57F17;
    --color-background: #ffffff;
    --color-text: #333;
}

/* &%&%&%&%&%&%&%&&%&&%&%&%&%&%&&%&%&%&%&

    Global element styles

%&%&%&&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 10px */
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--font-primary);
    color: var(--color-text);
    font-size: 1.6rem;
    margin: 0;
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: var(--font-bold);
}

img{
    width: 100%;
    display: block;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}


/* turn background darker when burger menu open in mobile */
.cover{
    transition: all 0.2s ease;
    background-color: transparent;
}
.cover--active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000005;
    backdrop-filter: blur(4px);
}

.border{
    position: relative;
    width: 20rem;
    height: 0.2rem;
    background-color: var(--color-primary);
    border-radius: 1rem;
    margin-top: 1.8rem;
}
.border::after{
    content: "";
    position: absolute;
    top: -0.3rem;
    left: 0;
    right: 0;
    bottom: 0;
    width: 6rem;
    height: 0.8rem;
    background-color: var(--color-primary);
    border-radius: 1rem;
    margin: 0 auto;
}

/* &%&%&%&%&%&%&%&&%&&%&%&%&%&%&&%&%&%&%&

    Top menu styles

%&%&%&&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

.header{
    background-color: var(--color-background);
    box-shadow: 0 3px 59px rgba(4,195,255,0.16);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
}

.logo{
    font-family: var(--font-black);
    font-size: 3.6rem;
    color: var(--color-primary);
}

/* &%&%&%&%&%&%&%&&%&&%&%&%&%&%&&%&%&%&%&

    mobile navigation list styles  

%&%&%&&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

.nav__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 110%;
    left: 2rem;
    right: 2rem;
    height: 0;
    gap: 1.5rem;
    background-color: var(--color-background);
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.2s ease ;
    z-index: 999;
}

.nav__list--active{
    height: 25rem;
}

.nav__item:last-child{
    margin-bottom: 2rem;
}
.nav__item:first-child{
    margin-top: 2rem;
}

.nav__item--active{
    color: var(--color-primary);
}

/* &%&%&%&%&%&%&%&&%&&%&%&%&%&%&&%&%&%&%&

    burger menu btn styles

%&%&%&&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

.burger-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
}

.burger-btn__icon{
    position: relative;
    width: 4.4rem;
    height: 0.4rem;
    border-radius: 1rem;
    background: var(--color-primary);
    transition: all 0.3s ease;
}
.burger-btn__icon::before,
.burger-btn__icon::after{
    content: "";
    position: absolute;
    width: 4.4rem;
    height: 0.4rem;
    border-radius: 1rem;
    background: var(--color-primary);
    transition: all 0.3s ease;
}
.burger-btn__icon::before{
    top: -1.4rem;
}
.burger-btn__icon::after{
    bottom: -1.4rem;
}
.burger-btn--open .burger-btn__icon{
    background: transparent;
}
.burger-btn--open .burger-btn__icon::before{
    transform: rotate(45deg);
    top: 0;
}
.burger-btn--open .burger-btn__icon::after{
    transform: rotate(-45deg);
    bottom: 0;
}

/* &%&%&%&%&%&%&%&&%&&%&%&%&%&%&&%&%&%&%&

    Hero section styles

%&%&%&&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin-top: 4rem;
    gap: 4rem;
}

.hero-section__left{
    max-width: 50rem;
    text-align: center;
}

.hero-section__name{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--color-primary);
}
.hero-section__name > span{
    color: var(--color-secondary);
}

.hero-section__Job-title{
    font-family: var(--font-bold);
    font-size: 3rem;
    color: var(--color-primary);
}

.hero-section__skills{
    color: var(--color-text);
    font-size: 1.6rem;
}

/* hero section btns */
.hero-section__btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}
.hero-section__hire-btn{
    background-color: var(--color-primary);
    color: var(--color-background);
    padding: 1rem 3rem;
    border-radius: 3rem ;
    box-shadow: 0 16px 30px #0BBEAD29;
}
.hero-section__resume-btn{
    background-color: var(--color-secondary);
    color: var(--color-background);
    padding: 1rem 3rem;
    border-radius: 3rem ;
    box-shadow: 0 16px 30px #F57F1729;
    
}

/* hero section image */
.hero-section__right{
    max-width: 50rem;
}

.hero-section__profile-pic{
    object-fit: cover;
    object-position: 70%;
    border-radius: 50%;
    border: 10px solid var(--color-background);
    box-shadow: 0 16px 30px #0BBEAD29;
}


/* &%&%&%&%&%&%&%&&%&&%&%&%&%&%&&%&%&%&%&

    about us section styles

%&%&%&&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

/* about us header */

.about-us-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 6rem;
}

.about-us-header__title{
    color: var(--color-primary);
    font-family: var(--font-bold);
    font-size: 3.2rem;
}
.about-us-header__caption{
    color: var(--color-text);
    font-size: 1.6rem;
}

/* about us box */
.about-us-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    box-shadow: 0 0 59px #60E9FF59 ;
}
.about-us__img{
    width: 100%;
}
.about-us__img > img{
    width: 100%;
}

.about-us-box__info{
    padding: 2rem;
}

.about-us-box__title{
    font-family: var(--font-primary);
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}

.about-us-box__caption{
    font-size: 1.4rem;
}

.about-us-box__bottom-sectiion{
    margin-top: 2rem;
}

.about-us-box__title-list{
    color: var(--color-primary);
    font-size: 1.8rem;
}

.about-us-box__list-items{
    list-style: disc;
    list-style-position: inside;
    
}
.about-us-box__list-items > li::marker{
    color: var(--color-secondary);
}

.about-us-box__list-item{
    font-size: 1.4rem;
}

.about-us__btns{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin-top: 2rem;
}

.about-us__hire-btn{
    background-color: var(--color-primary);
    color: var(--color-background);
    padding: 0.8rem 2rem;
    border-radius: 4rem;
    box-shadow: 0 16px 30px #0BBEAD29;
}

.abou-us__resume-btn{
    background-color: var(--color-secondary);
    color: var(--color-background);
    padding: 0.8rem 2rem;
    border-radius: 4rem;
    box-shadow: 0 16px 30px #F57F1729;
}

/* &%&%&%&%&%&%&%&&%&&%&%&%&%&%&&%&%&%&%&

    Top menu styles

%&%&%&&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

.services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 6rem;
}
.services__title{
    color: var(--color-primary);
    font-family: var(--font-bold);
    font-size: 3.2rem;
}

.services__caption{
    color: var(--color-text);
    font-size: 1.6rem;
}

.services-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    gap: 1.2rem;
}

.service-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 1.2rem;
    flex: 1 1 20rem;
    min-width: 32rem;
    max-width: 39rem;
    min-height: 37rem;
    color: var(--color-background);
    gap: 1rem;
}

.service-box::after{
    content: "";
    position: absolute;
    width: 100%;
    height: auto;
    top: 15rem;
    opacity: 0.1;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/shapes/services-shape.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.services-box__title{
    font-size: 2.4rem;
}
.box1{
    background-color: #8540FF;
    box-shadow: 0 0 35px #760DFF35;
}
.box2{
    background-color: #FFC50C;
    box-shadow: 0 0 35px #FFC50C35;
}
.box3{
    background-color: #EC407A;
    box-shadow: 0 0 35px #EC407A35;
}
.box4{
    background-color: #FF6331;
    box-shadow: 0 0 35px #FF6331;
}
.box5{
    background-color: #13B6FF;
    box-shadow: 0 0 35px #13B6FF35;
}
.box6{
    background-color: #49AF46;
    box-shadow: 0 0 35px #49AF4635;
}
