@font-face {
    font-family: "Poppins-Regular" ;
    src: url(../fonts/Poppins-Regular.ttf) format(ttf);
}
@font-face {
    font-family: "Poppins-Bold" ;
    src: url(../fonts/Poppins-Bold.ttf) format(ttf);
}
@font-face {
    font-family: "Poppins-Black" ;
    src: url(../fonts/Poppins-Black.ttf) format(ttf);
}