/* &%&%&%&%&%&%&%&&%&&%&%&%&%&%&&%&%&%&%&

    320px to 480px styles

%&%&%&&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

@media (min-width:320px) {
    .container {
        max-width: 300px;
    }

}

/* &%&%&%&%&%&%&%&&%&&%&%&%&%&%&&%&%&%&%&

    480px to 600px styles

%&%&%&&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

@media (min-width:480px) {
    .container {
          max-width: 420px;
      }

}
    
/* &%&%&%&%&%&%&%&&%&&%&%&%&%&%&&%&%&%&%&

    600px to 801px styles

%&%&%&&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

@media (min-width:600px) {
    .container {
        max-width: 540px;
    }

    /* display none burger btn and cover */
    .burger-btn{
        display: none;
    }
    .cover--active{
        display: none;
    }

    /* change nav to horizontal layout */
    .nav__list{
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        justify-content: space-between;
        background: transparent;
        gap: 2rem;
        height: auto;
    }
    .nav__item:last-child{
        margin-bottom: 0;
    }
    .nav__item:first-child{
        margin-top: 0;
    }

}

/* &%&%&%&%&%&%&%&&%&&%&%&%&%&%&&%&%&%&%&

    801px to 1025px styles

%&%&%&&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

@media (min-width:801px) {
    .container {
        max-width: 720px;
    }
    /* change header size */
    .nav{
        height: 12rem;
    }
    .logo{
        font-size: 5rem;
    }
    .nav__list{
        gap: 4rem;
    }

    .hero-section{
        flex-direction: row;
    }
    .hero-section__left{
        text-align: left;
    }
    .hero-section__btns{
        justify-content: flex-start;
    }
    .about-us-header{
        margin-top: 12rem;
    }
    .about-us-header__title{
        font-size: 3.6rem;
    }
    .about-us-box{
        flex-direction: row;
    }
    .about-us__img{
        height: 100%;
        width: 50%;
    }
    .about-us-box__info{
        width: 50%;
        
    }
}

/* &%&%&%&%&%&%&%&&%&&%&%&%&%&%&&%&%&%&%&

    1025px to 1281px styles

%&%&%&&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

@media (min-width:1025px) {
    .container{
        max-width: 960px;
    }
    .hero-section{
        margin-top: 10rem;
    }
    .hero-section__Job-title{
        font-size: 4rem;
    }
    .hero-section__hire-btn{
        padding: 1.2rem 5rem;
    }
    .hero-section__resume-btn{
        padding: 1.2rem 4rem;
    }
    .about-us-header{
        margin-top: 14rem;
    }
    .about-us__hire-btn{
    padding: 1rem 5rem;
    }

    .abou-us__resume-btn{
    padding: 1rem 4rem;
    }
}

/* &%&%&%&%&%&%&%&&%&&%&%&%&%&%&&%&%&%&%&

    1281px and above styles    

%&%&%&&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% */

@media (min-width:1281px) {
    .container {
        max-width: 1200px;
    }
    .hero-section{
        margin-top: 15rem;
    }
    .hero-section__Job-title{
        font-size: 5rem;
    }
    .about-us-header{
        margin-top: 16rem;
    }
    .about-us-box__info{
        padding: 0 4rem;
    }
}